{% extends "base/base.html" %}
 


{% block content %}



<div class="row me-0">
    <h2></h2>
  <div class="col-6">
    <div class="container-fluid bg-image-home">
    </div>
  </div>
  <div class="col-10 ms-5 ms-md-0 col-md-5 bg-light mt-5 p-0">
    <div class="form-group p-3">
      <h2>Sign in</h2>
      <p>Welcome to All Dente Jenskegg.<br>To be able to manage your bookings you have to be signed in. <br> If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.</p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% include "form/form.html" %}
        <button class="primaryAction btn col-4 btn-warning" type="submit">Sign in</button>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}