{% extends "base/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row me-0">
  <h2></h2>
  <div class="col-6">
    <div class="container-fluid bg-image-home">
    </div>
  </div>
  <div class="col-10 ms-5 ms-md-0 col-md-5 bg-light mt-5 p-0">
    <div class="form-group p-3">
      <h1>{% trans "Sign Out" %}</h1>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn col-4 btn-warning" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}