{% extends "base/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row me-0">
    <h2></h2>
    <div class="col-6">
        <div class="container-fluid bg-image-home">
        </div>
    </div>
    <div class="col-10 ms-5 ms-md-0 col-md-5 bg-light mt-5 p-0">
        <div class="form-group p-3">
            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>

            <button class="btn col-4 btn-warning">
                <a class="nav-link text-dark" href="{% url 'account_login' %}">go back to login page</a>
            </button>

        </div>
    </div>
</div>
{% endblock %}