{% extends "base/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row me-0">
    <h2></h2>
    <div class="col-6">
        <div class="container-fluid bg-image-home">
        </div>
    </div>
    <div class="col-10 ms-5 ms-md-0 col-md-5 bg-light mt-5 p-0">
        <div class="form-group p-3">
            <h2>{% trans "Password Reset" %}</h2>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% include "form/form.html" %}
                <input class="btn col-4 btn-warning" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>
</div>
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}