{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid d-flex align-items-center bg-image-home mt-alert-container">
    <div class="ms-auto ms-sm-5 mt-5 p-1">
        <h1 class="text-light catchphrase">ROMANTIC DINNER FOR TWO</h1>
        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <a href="{% url 'reservation' %}">
                    <button class="btn fs-3 btn-warning">
                        Reserve table
                    </button>
                </a>
            </div>
            <div class="col-sm-9 col-xs-4 fs-3">
                <a class="text-white" href="{% url 'menu' %}">
                    <p>Check menu</p>
                </a>
            </div>
        </div>  
    </div>
</div>
</div>
{%endblock%}