{% extends "base/base.html" %}

{% block content %}

<div class="row me-0">
    <h2>{{ Times.booking_time }}</h2>
    <div class="col-6">
        <div class="container-fluid bg-image-home">
        </div>
    </div>
    <div class="col-10 ms-5 ms-md-0 col-md-5 bg-light mt-5 p-0">
        <form action="{% url 'reservation' %}" method="POST" >
            <div class="form-group p-3">
            <h2>Reservation</h2>
                {% csrf_token %}
                {% include "form/form.html" %}
                <div class="row p-4 pt-1">
                    <button class="btn col-4 btn-warning " type="submit">Reserve</button>
                    <p class="col-4">Cancel booking?</p>
                </div>
                <div class="bg-danger mb-0 text-center">
                    <p class="fs-3 mb-0 px-5">{{ msg }}</p>
                </div>
            </div>
        </form>
    </div>
</div>

{%endblock%}
