{% extends "base/base.html" %}

{% block content %}
<div class="row me-0">
    <h2>{{ Times.booking_time }}</h2>
    <div class="col-6 d-sm-none d-md-flex">
        <div class="container-fluid bg-image-home">
        </div>
    </div>
    <div class="col-10 col-md-5 bg-light mt-5 p-3">
        <form method="">
            <div class="form-group">
                <label for="exampleFormControlInput1">email address</label>
                <input type="email" class="form-control" id="phonenumber" placeholder="name@email.com" required>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">phone number <span class="text-muted">(optional)</span></label>
                <input type="tel" class="form-control" id="phonenumber" pattern="[0-9]{10}" placeholder="0123456789"
                    required>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Name of the booker</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Surname" required>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Time</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <!--Add amounts of tables-->
                    {% for time in times %}
                    <option>{{ time|slice:"1:" |cut:"('"|cut:"',)" }}</option>
                    {% endfor %} 
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Select table</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <!--Add amounts of tables-->
                    {% for table in tables%}
                    <option>Table {{ table.table_number }} for {{table.table_chairs}} people</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Date</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="row mt-5">
                <button class="btn col-4 btn-warning " type="submit">Reserve</button>
                <p class="col-4">Cancel booking?</p>
            </div>
        </form>
    </div>
</div>
{%endblock%}