@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


/* Base.html */
.font-dancing {
    font-family: 'Dancing Script', cursive;
}

/* home.html */
.bg-image-home {
    position: absolute;
    z-index: -1;
    top: 50px;
    bottom: 0;
    background: url("https://res.cloudinary.com/dwufrz7t6/image/upload/e_blur:256/v1625957347/restaurant.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: 500px) {
    .catchphrase {
        font-size: 30px;
    }
}
@media screen and (min-width: 500px) {
        .catchphrase {
        font-size: 4vw;
    }
}